<div class="col-md-4 mt-3" *ngIf="country" [routerLink]="'/' + country.name">
  <div class="card">
      <img [src]="country.flag" alt="{{ country.name }}" class="img-fluid">
    <div class="card-body">
      <h5 class="card-title">{{ 'country' | translate }} -{{ country?.name  }}</h5>
      <p class="card-text">
        {{ 'population' | translate }}  {{ country.population }}
      </p> <br>
      <p class="card-text">
        {{ 'capitol' | translate }}   {{ country.capital }}
      </p>
    </div>
  </div>
</div>

