
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

@media only screen and (min-width:376px) {
  nav{
    padding: 1.75rem 2rem;
  }
}

div{
  font-weight: 600;
}

h2{
  font-size: 20px;
  margin: 0;
}

:host-context(.light) nav {
  background: var(--light-el);
}

:host-context(.dark) nav {
  background: var(--content);
}

.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
